<h1><%= SITE_NAME %></h1>

<p>
 With <%= SITE_NAME %>, you can easily create and manipulate database applications.
</p>

<div class="container">
  <div class="huge buttons">
    <%= link_to('Create new blank DB', '', class: 'huge') %>
    <%= link_to('Open existing DB', '', class: 'huge') %>
    <!-- <%= link_to('Create new DB from template', '', class: 'huge') %> -->
  </div>
</div>
